:root {
    // box
    --insurance-primary-color: #F3F7FF;
    --insurance-secondary-color: #3792EB;
    --insurance-bg-color: #fff;
    --insurance-text-color: #2F243F;
    --insurance-text-color2: #130F49;
    // selection
    --insurance-selection-color: #787878;
    // checkbox
    --insurance-checkBox-color: #130F49;
    // button
    --insurance-button-bg-color: #1A0C29;
    --insurance-button-text-color: #fff;
    --insurance-button-hover-bg: #fff;
    --insurance-button-hover-text-color: #1A0C29;
    // factor
    --insurance-factor-color:#fff;
    // fonts
    --insurance-title-font-size:40px;
    --insurance-car-details-title-font-size:25px;
    --insurance-items-titles-font-size:20px;
    --insurance-normal-text-font-size:18px;
}