:root {
    --insurance-primary-color: #F3F7FF;
    --insurance-secondary-color: #3792EB;
    --insurance-bg-color: #fff;

    --insurance-text-color: #2F243F;
    --insurance-text-color2: #130F49;
    --insurance-selection-color: #787878;
    --insurance-checkBox-color: #130F49;
    --insurance-button-bg-color: #1A0C29;
    --insurance-button-text-color: #fff;
    --insurance-button-hover-bg: #fff;
    --insurance-button-hover-text-color: #1A0C29;
}