// imports
@import "../css/css\ reset.css";
@import "../scss/config";

// General Changes START ---
body {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
// General Changes END ---

// insurance wrapper START ---
#insurance-application-wrapper {
    // insurance title
    #insurance-title {
        position: relative;
        text-align: center;
    }
}
