// imports
@import "../css/css\ reset.css";
@import "../scss/config";
@import "./font";

// General Changes START ---
body {
    background: #edf0f4;
    display: flex;
    justify-content: center;
}

* {
    font-family: "yekan";
}

// General Changes END ---

// insurance wrapper START ---
#insurance-application-wrapper {
    margin: 5% 0;
    display: flex;
    flex-direction: column;
    // align-items: center;
    width: 80vw;
    height: fit-content;
    box-shadow: 0 0 10px -3px #4646464c;
    border-radius: 20px;
    padding: 20px;
    background-color: var(--insurance-bg-color);

    // insurance title
    #insurance-title {
        color: var(--insurance-text-color);
        position: relative;
        position: relative;
        text-align: center;
        padding: 25px 0;

        &::after {
            position: absolute;
            content: "";
            left: 0;
            top: 100%;
            height: 2px;
            border-radius: 5px;
            width: 100%;
            background-color: #bfbfbf;
        }
    }

    main {
        width: 85%;
        margin: 20px auto;

        #car-details-wrapper {
            display: flex;
            flex-direction: column;
            gap: 20px 0;

            #car-details-title {
                margin: 10px 0;
            }

            .model-wrapper {
                display: flex;
                flex-direction: column;
                gap: 15px 0;
                width: fit-content;
                position: relative;

                .drop-down {
                    box-shadow: 0 5px 10px -1px #0000002f;
                    position: absolute;
                    width: 100%;
                    height: 150px;
                    overflow-y: scroll;
                    top: 100%;
                    left: 0;
                    background-color: inherit;
                    border-radius: inherit;
                    padding: 0 10px;
                    flex-direction: column;
                    gap: 10px 0;
                    z-index: 2;
                    transition: 0.3s linear;

                    &.hide {
                        height: 0;
                        transition: 0.3s;
                    }

                    &>div {
                        padding: 10px 0;
                        transition: 0.2s ease-in-out;
                    }

                    &>div:hover {
                        transform: translateX(-5px);
                    }

                    &>div {
                        position: relative;

                        &::after {
                            position: absolute;
                            content: '';
                            left: 100%;
                            top: calc(50%);
                            width: 0;
                            height: 2px;
                            border-radius: 5px;
                            background-color: var(--insurance-text-color2);
                            margin-left: 5px;
                            transition: 0.2s ease-in-out;
                        }

                        &:hover {
                            &::after {
                                width: 10px;
                            }
                        }

                    }
                }

                .model-title {
                    color: var(--insurance-text-color2);
                }

                .selection {
                    position: relative;
                    cursor: pointer;
                    min-width: 250px;
                    height: 40px;
                    background-color: var(--insurance-primary-color);
                    color: var(--insurance-text-color2);
                    padding: 15px;
                    border-radius: 10px;
                    box-shadow: 0 0 5px -1px #7c7c7c59;
                    display: flex;
                    align-items: center;

                    &::after {
                        position: absolute;
                        content: "";
                        width: 8px;
                        height: 8px;
                        border-left: 1.5px solid var(--insurance-text-color2);
                        border-bottom: 1.5px solid var(--insurance-text-color2);
                        transform: rotate(-45deg);
                        left: 10px;
                        top: calc(50% - 5px);
                    }
                }
            }
        }

        #insurance-type-wrapper {
            margin-block: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            color: var(--insurance-text-color);

            .each-insurance-type-wrapper {
                display: flex;
                flex-direction: row;
                gap: 10px;

                .insurance-type-check-box {
                    width: 20px;
                    height: 20px;
                    border: 1px solid;
                    cursor: pointer;
                    border-radius: 100%;

                    &.checked {
                        background-color: var(--insurance-checkBox-color);
                    }
                }
            }
        }

        #calculate-button-wrapper {
            display: flex;
            justify-content: center;

            button {
                cursor: pointer;
                padding: 8px 25px;
                background-color: var(--insurance-button-bg-color);
                color: var(--insurance-button-text-color);
                border: 1px solid transparent;
                border-radius: 50px;
                font-size: 18px;
                transition: 0.15s linear;

                &:hover {
                    background-color: var(--insurance-button-hover-bg);
                    color: var(--insurance-button-hover-text-color);
                    border: 1px solid var(--insurance-button-bg-color);
                }

                &:active {
                    transform: scale(0.8);
                }
            }
        }

        #factor-wrapper {
            // temp
            display: none;
        }
    }
}